@font-face {
    font-family: "Table_Title";
    src: url("Table_Title.ttf");
}

@font-face {
    font-family: "Table_Floor";
    src: url("Table_Floor.ttf");
}

@font-face {
    font-family: "Table_Util";
    src: url("Table_Util.ttf");
}